:css
  label {margin-right: 20px;}
- @refactored_codes.each do |refactored_code|
  %div{style: 'margin-bottom: 40px; margin-left: 10px;'}
    - if refactored_code.email != session[:email] && refactored_code.votes.find_by_email(session[:email]).nil?
      = form_tag rate_path do
        = hidden_field_tag :refactored_code_id, refactored_code.id
        = hidden_field_tag :language, @language
        = radio_button_tag :rate, '1'
        = label_tag 'rate_1', '1'

        = radio_button_tag :rate, '2'
        = label_tag 'rate_2', '2'

        = radio_button_tag :rate, '3'
        = label_tag 'rate_3', '3'

        = radio_button_tag :rate, '4'
        = label_tag 'rate_4', '4'

        = radio_button_tag :rate, '5'
        = label_tag 'rate_5', '5'

        = submit_tag 'Vote'
    %div
      - if refactored_code.anonymous?
        = 'Anonymous'
      - else      
        = refactored_code.email
      = "/"
      = refactored_code.vote_tally
      average with
      = pluralize(refactored_code.votes.size, 'vote')
      total.
    %div{style: 'margin-top: 5px; margin-left: 20px;'}
      %pre{class: "prettyprint linenums lang-#{@lang}"}
        = refactored_code.refactored_code.gsub("\n", '').html_safe
      - refactored_code.comments.each do |comment|      
        .comment{:style => 'margin-bottom: 10px'}
          %span{:style => 'margin-right: 10px;'}= comment.email
          = comment.comment
      = form_tag comment_path do
        = hidden_field_tag :refactored_code_id, refactored_code.id
        = hidden_field_tag :language, @language
        = text_area_tag :comment, '', :size => '80x3'
        = submit_tag 'Comment'

Original code:
%pre{class: "prettyprint linenums lang-#{@lang}"}
  :plain
    #{@bad_code}
