Refactor this code:
%pre{class: 'prettyprint'}
  %code{class: 'language-rb'}
    :plain
      #{@bad_code}

The tests:
= @spec_instructions
%pre{class: 'prettyprint'}
  %code{class: 'language-rb'}
    :plain
      #{@bad_code_specs}



= form_tag submit_refactored_code_path do
  = hidden_field_tag :language, @language
  = check_box_tag :anonymous
  = label_tag :anonymous, 'Post my code anonymously'
  %br/
  Input your refactored code:
  %br/
  = text_area_tag :refactored_code, '', :size => '140x20'
  %br/
  = submit_tag 'Your refactored code'
