Refactor this code:
%pre{class: 'prettyprint'}
  %code{class: 'language-rb'}
    :plain
      #{@bad_code}

The tests:
%pre{class: 'prettyprint'}
  %code{class: 'language-rb'}
    :plain
      #{@bad_code_specs}


Input your refactored code:
= form_tag submit_refactored_code_path do
  = text_area_tag :refactored_code, '', :size => '140x20'
  %br/
  = submit_tag 'Your refactored code'
